* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.background {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 6.91%;
  width: 100%;
  opacity: 0.2;
  z-index: -1;
}

.logo {
  margin-top: 10px;
  position: absolute;
  left: 9.58%;
  right: 9.58%;
  top: 3.56%;
  bottom: 82.61%;
  width: 80%;
  stroke: black;
}
