* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.background {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 6.91%;
  width: 100%;
  opacity: 0.2;
  z-index: -2;
}

#logocolour {
  position: absolute;
  top: 2%;
  left: 50%;
  translate: -50%;
  width: 100%;
  max-width: 400px;
}

.register {
  background-color: #9AD2CB;
  position: relative;
  top: 150px;
  width: 70%;
  max-width: 300px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-items {
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5%;
}

#lastregister {
  margin-bottom: 10%;
}

.inputfield {
  width: 80%;
  padding-top: 10%;
  border-radius: 10px;
}

.peopletalking {
  position:fixed;
  margin: auto;
  width: 100%;
  max-width: 800px;
  bottom:0px;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
}

.link-to {
  position: relative;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  text-decoration: underline;
  top: 230px;
  background-color: white;
  width: 50%;
  margin: auto;
  line-height: 50px;
}

#button {
  background-color: #f0cf65;
  border-radius: 10px;
  width: 40%;
  line-height: 50px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  margin-top: 65%;
  margin-bottom: 10%;
}
